{{#if error}}

<p>{{error}}</p>

{{/if}}

<p>we have sent you a verification code to your mobile number!</p>

<p>Please Enter your code here:</p>

<form action="/step3" method="POST">
    <input type="hidden" name="id" value="{{id}}">
    <input type="text" name="token">
    <input type="submit" value="Check Code">
</form>